
// inicio

.containerTitulosSimilares{
    background-image:linear-gradient(rgb(8, 8, 8), rgba(8, 8, 8, 0.76)), url(../img/elden-ring-wiki-screenshot-art-trailer5.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
}
.h1TituloSimilares{
    color:$goldColor;
    text-align: center;
    padding: 1.5rem;
    font-size: 3rem;
    background-image: linear-gradient(to bottom, #080808,#000000);
    margin: 0;
    text-shadow: $shadowText;
}
.imgTitulosSimilares{
    display: flex;
}
.containerImg1{
    display: inline-block;
    width: 30%;
}
.imgDS1{
    height: 100%;
    width: 100%;
}
.containerInfo1{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #000000, #080808);
    display: block;
    width: 70%;
    justify-content: flex-start;
    align-content: center;
}
.tituloJuego1{
    color: $fontColor;
    padding: 2rem;
    font-size: 1.5rem;
    text-shadow: 0 0 .15rem $fontColor;
}
.containerParrafoJuego1{
    color: $fontColor;
    font-size: 1.2rem;
    padding: 2rem;
    word-spacing: 0.3rem;
    line-height: 2rem;
}
.imgTitulosSimilares2{
    display: flex;
    flex-direction: row-reverse;
}
.containerImg2{
    display: inline-block;
    width: 30%;
}
.imgDS2{
    height: 100%;
    width: 100%;
}
.containerInfo2{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.858), rgba(0, 0, 0, 0.921)), url(../img/elden-ring-wiki-screenshot-art-trailer5.jpg);
    background-position: center;
    display: block;
    width: 70%;
    justify-content: flex-start;
    align-content: center;
}
.tituloJuego2{
    color: $fontColor;
    padding: 2rem;
    font-size: 1.5rem;
    text-shadow: 0 0 .15rem $fontColor;
}
.containerParrafoJuego2{
    color: $fontColor;
    font-size: 1.2rem;
    padding: 2rem;
    word-spacing: 0.3rem;
    line-height: 2rem;
}

.imgDS3{
    height: 100%;
    width: 100%;
}

.imgBloodBorne{
    height: 60vh;
    width: 100%;
}

.imgDemonS{
    height: 100%;
    width: 100%;
}

.imgSekiro{
    height: 100%;
    width: 100%;
}

@media only screen and (max-width:1600px){
    .imgTitulosSimilares{
        flex-direction: row;
    }
    .containerImg1{
        display: inline-block;
        width: 45%;

    }

    .containerInfo1{
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to bottom, #000000, #080808);
        display: block;
        width: 55%;
        justify-content: flex-start;
        align-content: center;

    }
    .tituloJuego1{
        color: $fontColor;
        padding: 1.7rem 0 0 1.5rem;
        font-size: 1.2rem;
        text-align: start;
        
    }
    .containerParrafoJuego1{
        color: $fontColor;
        font-size: .95rem;
        padding: 1.5rem;
        word-spacing: 0.3rem;
        line-height: 2rem;
        text-align: start;
    }

    .imgDS1{
        height: 100%;
        object-fit: cover;
    }

    .imgDS3{
        height: 100%;
        object-fit: cover;
    }

    .imgBloodBorne{
        height: 100%;

    }

    .pruebaBB{
        height: 40rem;

    }

    .imgDS2{
        height: 100%;
        object-fit: cover;
    }

    .imgDemonS{
        height: 100%;
        object-fit: cover;
    }

    .imgSekiro{
        height: 100%;
        object-fit: cover;
    }

    .imgTitulosSimilares2{
        flex-direction: row-reverse;
    }
    .containerImg2{
        display: inline-block;
        width: 45%;
    }

    .containerInfo2{
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to bottom ,rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.921)), url(../img/elden-ring-wiki-screenshot-art-trailer5.jpg);
        background-position: center;
        display: block;
        width: 55%;
        justify-content: flex-start;
        align-content: center;
    
    }
    .tituloJuego2{
        color: $fontColor;
        padding: 1.7rem 0 0 1.5rem;
        font-size: 1.2rem;
        text-align: start;
    }
    .containerParrafoJuego2{
        color: $fontColor;
        font-size: .95rem;
        padding: 1.5rem;
        word-spacing: 0.3rem;
        line-height: 2rem;
        text-align: start;
        display: flex;
    }
}


@media only screen and (max-width:992px){
    .imgTitulosSimilares{
        flex-direction: column;
        height: 60%;
    }

    .h1TituloSimilares{
        font-size: 2.5rem;
    }
    .containerImg1{
        display: inline-block;
        width: 100%;
        min-height: 100%;
    }
    .imgDS1{
        height: 100%;
    }
    .containerInfo1{
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to bottom, #000000, #080808);
        display: block;
        width: 100%;
        justify-content: flex-start;
        align-content: center;
        h2{
            border-bottom: .2rem solid $goldColor ;
            padding-bottom: 1.3rem;
        }
        
    }
    .tituloJuego1{
        color: $fontColor;
        padding: 2rem;
        font-size: 1.3rem;
        text-align: center;
        
    }
    .containerParrafoJuego1{
        color: $fontColor;
        font-size: .9rem;
        padding: 2rem;
        word-spacing: 0.3rem;
        line-height: 2rem;
        text-align: center;
    }

    .imgDS3{
        height: 100%;
    }

    .imgBloodBorne{
        height: 40%;
    }

    .imgDS2{
        height: 100%;
    }

    .imgDemonS{
        height: 100%;
    }

    .imgSekiro{
        height: 100%;
    }

    .imgTitulosSimilares2{
        flex-direction: column;
        height: 80%;
    }
    .containerImg2{
        display: inline-block;
        width: 100%;
        height: 60%;
    }

    .containerInfo2{
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to bottom ,rgba(0, 0, 0, 0.858), rgba(0, 0, 0, 0.921)), url(../img/elden-ring-wiki-screenshot-art-trailer5.jpg);
        background-position: center;
        display: block;
        width: 100%;
        justify-content: flex-start;
        align-content: center;
    }
    .tituloJuego2{
        color: $fontColor;
        padding: 2rem;
        font-size: 1.3rem;
        text-align: center;
    }
    .containerParrafoJuego2{
        color: $fontColor;
        font-size: .9rem;
        padding: 2rem;
        word-spacing: 0.3rem;
        line-height: 2rem;
        text-align: center;
    }
}

@media only screen and (max-width:700px){
    .imgTitulosSimilares{
        flex-direction: column;
        height: 60%;
    }
    .containerImg1{
        display: inline-block;
        position: relative;
        width: 100%;
        height: 80%;
    }

    .imgDS1{
        height: 100%;
    }

    .containerInfo1{
        position: relative;
        h2{
            border-bottom: .2rem solid $goldColor ;
            padding-bottom: 1.3rem;
        }
   
    }
    .tituloJuego1{
        color: $fontColor;
        padding: 2rem;
        font-size: 1.3rem;
        text-align: center;

    }
    .containerParrafoJuego1{
        color: $fontColor;
        font-size: 1rem;
        padding: 2rem;
        word-spacing: 0.3rem;
        line-height: 2rem;
        text-align: center;   
    }

    .imgTitulosSimilares2{
        flex-direction: column;
        height: 60%;
    }
    .containerImg2{
        position: relative;
        display: inline-block;
        width: 100%;
        height: 60%;
    }

    .containerInfo2{
        background-position: center;
        position: relative;
    }

    .tituloJuego2{
        color: $fontColor;
        padding: 2rem;
        font-size: 1.3rem;
        text-align: center;
    }
    .containerParrafoJuego2{
        color: $fontColor;
        font-size: 1rem;
        padding: 2rem;
        word-spacing: 0.3rem;
        line-height: 2rem;
        text-align: center;
    }

    .imgBloodBorne{
        height: 100%;
    }
}